<form (ngSubmit)="addAppointmentOnClick()" #appointmentForm="ngForm">
  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="appointment.phoneNumber" name="phoneNumber" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Make</mat-label>
    <input matInput [(ngModel)]="appointment.make" name="make" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Model</mat-label>
    <input matInput [(ngModel)]="appointment.model" name="model" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Note</mat-label>
    <input matInput [(ngModel)]="appointment.note" name="note">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="appointment.date" name="date" type="datetime-local" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>State</mat-label>
    <input matInput [(ngModel)]="appointment.state" name="state" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Appointment</button>
</form>
