<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Input phone number</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input phone number</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input make</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input model</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input note</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input date</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <mat-label>Input state</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
</form>
<section>
  <div class="example-label">Text</div>
  <div class="example-button-row">
    <button matButton>Basic</button>
    <button matButton disabled>Disabled</button>
    <a matButton href="https://www.google.com/" target="_blank">Link</a>
  </div>
  <button mat-raised-button matButton="elevated">Basic</button>
</section>
